<html>
<head>
    <meta charset="utf-8">
    {% load static %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js">

    </script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "css.css" %}">
</head>
<body>
<div class="container white z-depth-2">
	<div id="login" class="col s12" align= "center">
		<form class="col s12">
			<div class="form-container">
				<h3 class="teal-text">Login</h3>
				<div class="row">
					<div class="input-field col s12">
						<input id="username"  class="validate">
						<label for="email">Username</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password" type="password" class="validate">
						<label for="password">Password</label>
					</div>
				</div>
				<br>
				<center>
					<a href="{% url 'main' %}"><button class="btn waves-effect waves-light teal" type="submit" name="action">Connect</button>
					<br>
					<br>
					<a href="register.html">Forgotten password?</a>
				</center>
			</div>
		</form>
	</div>
    </body>
</html>    