<html>
{% load static %}

<head>
    <meta charset="utf-8"> {% load static %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js">

    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static " css.css " %}">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Raleway", sans-serif
        }
        
        #row {
            img {
                -webkit-filter: grayscale(0%);
                /* Safari 6.0 - 9.0 */
                filter: grayscale(0%);
                height: 300px;
                width: 800px;
            }
            img:hover {
                -webkit-filter: grayscale(100%);
                /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
                height: 300px;
                width: 800px;
            }
        }
        
        #navbar-fixed {
            width: "90px";
            height: "62.7px";
        }
        
        .view {
            height: 100%;
        }
        
        .view {
            background: url("{% static 'main.jpg' %}")no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>

</head>

<body class="view" background="{% static 'main.jpg' %}">
    <!--Nav Bar-->
    <div class="navbar-fixed">


        <nav>
            <div class="nav-wrapper blue lighten-1">
                <a href="{% url 'main' %}" class="brand-logo"><img src="https://img.clipartfest.com/1da2ee5fa56ec8c9cd9fd88c4635566c_bird-logo-on-behance-clipart-bird-logo_600-418.png"
                        width="90" height="62.7"></a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="#load-login">
                                {% if user.is_authenticated %}
                                <font color="black"><i class="medium material-icons">perm_identity: {{ user|upper }}</a></i>
                        </font>
                        <li>
                            <a href="#load-event"><img src="https://cdn4.iconfinder.com/data/icons/devine_icons/Black/PNG/System%20and%20Internet/JAVA.png"
                                    width="90" height="62.7"></a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}"><img src="https://cdn1.iconfinder.com/data/icons/materia-arrows-symbols-vol-8/24/018_320_door_exit_logout-128.png"
                                    width="90" height="62.7"></a>
                        </li>
                        {% else %}
                        <li>
                            <a href="#load-login">
                                <font color="black"><i class="medium material-icons">perm_identity: {{ user|upper }}</a></i></font>
                                <div class="alert alert-warning">
                                    <strong>Warning!</strong> Indicates a warning that might need attention.
                                </div>
                                <li>
                                    {% endif %}

                                </li>


                </ul>
            </div>
        </nav>

    </div>
    <!--Nav Bar-->


    <div class="carousel">
        {% for joda in todos_los_eventos %}
        <a class="carousel-item" href="#one!"><img src="{{ joda.foto.url }}" " /fotos" width="800" height="300"></img>
        </a>{% endfor %}
    </div>
    {% if user.is_authenticated %}
    <center><a class="waves-effect yellow btn" href="#finder">BUSCAR</a></center>
    {% endif %}

    <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>
    <span class="w3-opennav w3-xlarge" onclick="w3_open()">&#9776;</span>


    <!-- Overlay effect when opening sidenav on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" mouseover="w3_close()" style="cursor:pointer" title="close side menu"
        id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main">

        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:83px"></div>

        <!-- Photo grid -->

        {% for joda in todos_los_eventos %}
        <div class="row">
            <div class="col s2">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">

                        <img src="{{ joda.foto.url }}" " /fotos" width="800" height="300"></img>

                    </div>
                    <div class="card-content" href="Equipos.html">

                        <span class="card-title activator grey-text text-darken-4">{{joda.nombre}}<i class="material-icons right">more_vert</i></span>
                        <div class="card-action">
                            {% if user == joda.creador %}
                            <a class="waves-effect deep-orange btn" href="{% url 'delete_evento' joda.id %}" <i class="small material-icons">delete</i></a>                            {% endif %}
                            <!--{% if new == new_rt.save()}-->
                            {% if user.is_authenticated %}
                            <a class="waves-effect blue darken-4 btn" href="{% url 'mkasist' joda.id %}">Asist</a>{{ joda.count_asist
                            }}/{{joda.capacidad}}
                            <div class="right white-text">
                                <p>{{ joda.count_asist }}</p>
                            </div>
                            {% endif %}
                        </div>

                    </div>
                    <div class="card-reveal" href="Equipos.html">
                        <span class="card-title grey-text text-darken-4">INFORMACION DEL EVENTO<i class="material-icons right">close</i></span>
                        <ul><b style="color:black">Evento: </b>{{ joda.nombre }}</ul>
                        <ul><b style="color:black">Fecha: </b>{{joda.fecha}}</ul>
                        <ul><b style="color:black">Tipo de fiesta: </b>{{joda.tipo_fiesta}} </ul>
                        <ul><b style="color:black">Precio: </b>{{joda.precio}} </ul>
                        <ul><b style="color:black">Ubicacion: </b>{{joda.ubicacion}} </ul>
                        <ul><b style="color:black">Datos de Interes </b>{{joda.comentario}} </ul>
                        <ul><b style="color:black">Organizador: </b>{{joda.creador}} </ul>
                        <ul><b style="color:black">Telefono del Organizador: </b>{{usuario.telefono}} </ul>

                    </div>
                </div>
            </div>

            {% endfor %}


            <form action="{% url 'main' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div id='load-event' class="modal load-eventblue-grey darken-1">
                    <div class="modal-content">
                        <h4 align="center">New Event</h4>
                        <!-- este es el form que enseño javi-->
                        <div class="row">
                            <div class="input-field col s6">
                                {{ form.nombre }}
                                <label for="{{ form.nombre.id_for_label }}" class="black-text">Write here your event name</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="text" class="datepicker" name="{{ form.fecha.html_name }}" />
                                <label for="{{ form.fecha.id_for_label }}" class="black-text">Fecha del Evento</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <input type="text" name="{{ form.edad_min.html_name }}" />
                                <label for="{{ form.edad_min.id_for_label }}" class="black-text">Write here the minium age</label>
                            </div>
                            <div class="input-field col s4">
                                <input name="{{ form.precio.html_name }}" type="text" />
                                <label for="{{ form.precio.id_for_label }}" class="black-text">Write here the price</label>
                            </div>
                            <div class="input-field col s4">
                                <input name="{{form.capacidad.html_name}}" type="text" />
                                <label for="{{form.capacidad.id_for_label}}" class="black-text">Write here the maxium capacity</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <input name="{{form.tipo_fiesta.html_name}}" type="text" />
                                <label for="{{form.tipo_fiesta.id_for_label}}" class="black-text">Write here the type of party</label>
                            </div>
                            <div class="input-field col s4">
                                <input name="{{form.ubicacion.html_name}}" type="text" />
                                <label for="{{form.ubicacion.id_for_label}}" class="black-text">Write here the address</label>
                            </div>
                            <div class="input-field col s4">
                                <input name="{{form.telefono.html_name}}" type="text" />
                                <label for="{{form.telefono.id_for_label}}" class="black-text">Write here the phone</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="{{form.comentario.html_name}}" type="text" />
                                <label for="{{form.comentario.id_for_label}}" class="black-text">Write here the important information</label>
                            </div>
                        </div>
                        <div class="input-field col s12">
                            {{ form.foto }}
                        </div>
                    </div>
                    <div class="modal-footer blue-grey darken-2">
                        <input class="modal-action modal-close btn-flat" value="Submit" type="submit" />
                    </div>
                </div>
            </form>
            <div id="load-login" class="modal blue-grey darken-1">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-content">
                        <h4>LogIn</h4>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="username" id="username" type="text" class="validate">
                                <label for="username">Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input name="password" id="password" type="password" class="validate">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <center>
                        <br>
                        <input class="modal-action modal-close btn-flat" value="Submit" type="submit" />
                    </center>
                    <div class="modal-footer blue-grey darken-2">
                        <a class="btn red" onclick="change_modal('load-login','load-register')">REGISTER</a>
                    </div>
            </div>
            <div id='finder' class="modal blue-grey darken-1">
                    <!-- este es el form que enseño javi-->
                    <form action="{% url 'buscador' %}" method="POST">
                        {% csrf_token %}

                        <div class="modal-content">
                            <h4 align="center">Buscador</h4>
                            <div class="modal-content">
                                Tipo de fiesta: <select>{% for joda in todos_los_eventos %}<option>"{{ joda.tipo_fiesta }}" </option>{% endfor %}</select>
                            </div>
                            <div class="modal-content">
                                Edad minima: <select>{% for joda in todos_los_eventos %}<option>"{{ joda.edad_min}}" </option>{% endfor %}</select>
                            </div>
                            <div class="modal-content">
                                Precio: <select>{% for joda in todos_los_eventos %}<option>"{{ joda.precio }}" </option>{% endfor %}</select>
                            </div>
                            <input class="modal-action modal-close btn-flat" onclick="buscador()" value="buscar" type="submit" />
                    </form>
                    </div>

            </form>
            <div id='load-register' class="modal blue-grey darken-1">
                <!-- este es el form que enseño javi-->
                <form action="{% url 'registrar' %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-content">
                        <h4>Register</h4>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="username" name="username" type="text" class="validate">
                                <label for="username" class="active white-text">username</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="password" name="password" type="password" class="validate">
                                <label for="password" class="active white-text">Contraseña</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="telefono" name="telefono" type="text" class="validate">
                                <label for="telefono" class="active white-text">telefono</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="celular" name="celular" type="text" class="validate">
                                <label for="celular" class="active white-text">celular</label>
                            </div>
                        </div>
                        <div class="row">
                        <div class="input-field col s6">
                            <input id="direccion" name="direccion" type="text" class="validate">
                            <label for="direccion" class="active white-text">direccion</label>
                            </div>
                        </div>
                    </div>
                    <center>
                        <br>
                        <input class="modal-action modal-close btn-flat" value="Submit" type="submit" />
                    </center>
                    <div class="modal-footer blue-grey darken-2">
                </form>
                </div>
                


</body>
<script>
    $(document).ready(function () {
        $('.carousel').carousel();
    });
    $('.modal').modal();

    function change_modal(closed, opened) {
        $('#' + closed).modal('close');
        $('#' + opened).modal('open');
    };
    function change_modal2(closed,closed,opened){
        $('#' + closed).modal('close');
        $('#' + opened).modal('close');
        $('#' + opened).modal('open');
    }
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: false // Close upon selecting a date,
    });

    $(document).ready(function () {
        $('select').material_select();
    });

</script>
























</html>