<html>
{% load static %}
<head>
    <meta charset="utf-8"> {% load static %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js">

    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static " css.css " %}">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

img {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
        height: 300px;
    width: 800px;
}
        
img:hover{
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
            height: 300px;
    width: 800px;
}
</style>

</head>

	  <body background="{% static 'main.jpg' %}">
		<div class="carousel">
    	{% for joda in todos_los_eventos %}	<a class="carousel-item" href="#one!"><img src="{{ joda.foto.url }}" " /fotos"></img> </a>{% endfor %}
  		</div>
      
  		<center><a class="waves-effect yellow btn">BUSCAR</a></center>
		
	<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>
	<span class="w3-opennav w3-xlarge" onclick="w3_open()">&#9776;</span>
    
    
    <!-- Overlay effect when opening sidenav on small screens -->
	<div class="w3-overlay w3-hide-large w3-animate-opacity" mouseover="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
	<div class="w3-main">

  <!-- Push down content on small screens -->
  	<div class="w3-hide-large" style="margin-top:83px"></div>

  <!-- Photo grid -->
{% for joda in todos_los_eventos %}
    <div class="row">
    <div class="col s2">
              <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              
              <img src="{{ joda.foto.url }}" " /fotos"></img> 
              
            </div>
            <div class="card-content" href="Equipos.html">
             
              <span class="card-title activator grey-text text-darken-4">{{joda.nombre}}<i class="material-icons right">more_vert</i></span>
              
            </div>
            <div class="card-reveal" href="Equipos.html">
              <span class="card-title grey-text text-darken-4">INFORMACION DEL EVENTO<i class="material-icons right">close</i></span>
                          <ul><b style="color:black">Evento: </b>{{joda.nombre}}</ul> 
                          <ul><b style="color:black">Tipo de fiesta: </b>{{joda.tipo_fiesta}} </ul> 
                          <ul><b style="color:black">Precio: </b>{{joda.precio}} </ul> 
                          <ul><b style="color:black">Ubicacion: </b>{{joda.ubicacion}} </ul>
                          <ul><b style="color:black">Datos de Interes </b>{{joda.comentario}} </ul>
                          <ul><b style="color:black">Organizador: </b>{{joda.creador}}  </ul>
                          <ul><b style="color:black">BOTON ASISTIRE / CAPACIDAD (QUE SE MUESTRE ANTES DE DESPLEGAR LA INFORMACION )</b> </ul>
                          
            </div>
          </div>
        </div>
{% endfor %}



	</body>
	<script>
	$(document).ready(function(){
      $('.carousel').carousel();
    });
	</script>
























</html>