<html>
{% load static %}

<head>
    <meta charset="utf-8"> {% load static %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js">

    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static " css.css " %}">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Raleway", sans-serif
        }
        
        #row {
            img {
                -webkit-filter: grayscale(0%);
                /* Safari 6.0 - 9.0 */
                filter: grayscale(0%);
                height: 300px;
                width: 800px;
            }
            img:hover {
                -webkit-filter: grayscale(100%);
                /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
                height: 300px;
                width: 800px;
            }
        }
        
        #navbar-fixed {
            width: "90px";
            height: "62.7px";
        }
    </style>

</head>

<body background="{% static 'main.jpg' %}">
    <!--Nav Bar-->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper orange lighten-1">
                <a href="{% url 'main' %}" class="brand-logo"><img src="https://img.clipartfest.com/1da2ee5fa56ec8c9cd9fd88c4635566c_bird-logo-on-behance-clipart-bird-logo_600-418.png"
                        width="90" height="62.7"></a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="{% url 'iniciador' %}">
                            <font color="black"><i class="medium material-icons">perm_identity: {{ user|upper }}</a></i></font>
                    </li>
                    <li>
                        <a href="#modal1"><img src="https://cdn4.iconfinder.com/data/icons/devine_icons/Black/PNG/System%20and%20Internet/JAVA.png"
                                width="90" height="62.7"></a>
                    </li>
                    <li>
                        <a href=""><img src="https://cdn1.iconfinder.com/data/icons/materia-arrows-symbols-vol-8/24/018_320_door_exit_logout-128.png"
                                width="90" height="62.7"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--Nav Bar-->


    <div class="carousel">
        {% for joda in todos_los_eventos %}
        <a class="carousel-item" href="#one!"><img src="{{ joda.foto.url }}" " /fotos" width="800" height="300"></img>
        </a>{% endfor %}
    </div>

    <center><a class="waves-effect yellow btn">BUSCAR</a></center>

    <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>
    <span class="w3-opennav w3-xlarge" onclick="w3_open()">&#9776;</span>


    <!-- Overlay effect when opening sidenav on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" mouseover="w3_close()" style="cursor:pointer" title="close side menu"
        id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main">

        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:83px"></div>

        <!-- Photo grid -->
        {% for joda in todos_los_eventos %}
        <div class="row">
            <div class="col s2">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">

                        <img src="{{ joda.foto.url }}" " /fotos" width="800" height="300"></img>

                    </div>
                    <div class="card-content" href="Equipos.html">

                        <span class="card-title activator grey-text text-darken-4">{{joda.nombre}}<i class="material-icons right">more_vert</i></span>
                        <div class="card-action">
                            {% if user == joda.creador %}
                            <a class="waves-effect deep-orange btn" href="{% url 'delete_evento' joda.id %}" <i class="small material-icons">delete</i></a>                            {% endif %}
                            <!--{% if new == new_rt.save()}-->
                            <a class="waves-effect blue darken-4 btn" href="{% url 'mkasist' joda.id %}">Asist</a>{{ joda.count_asist }}/{{joda.capacidad}}
                            <div class="right white-text">
                                <p>{{ joda.count_asist }}</p>
                            </div>
                        </div>

                    </div>
                    <div class="card-reveal" href="Equipos.html">
                        <span class="card-title grey-text text-darken-4">INFORMACION DEL EVENTO<i class="material-icons right">close</i></span>
                        <ul><b style="color:black">Evento: </b>{{ joda.nombre }}</ul>
                        <ul><b style="color:black">Fecha: </b>{{joda.fecha}}</ul>
                        <ul><b style="color:black">Tipo de fiesta: </b>{{joda.tipo_fiesta}} </ul>
                        <ul><b style="color:black">Precio: </b>{{joda.precio}} </ul>
                        <ul><b style="color:black">Ubicacion: </b>{{joda.ubicacion}} </ul>
                        <ul><b style="color:black">Datos de Interes </b>{{joda.comentario}} </ul>
                        <ul><b style="color:black">Organizador: </b>{{joda.creador}} </ul>

                    </div>
                </div>
            </div>
            {% endfor %}


            <div id="modal1" class="modal blue-grey darken-1">
                <!-- este es el form que enseño javi-->
                <form action="{% url 'mkevento' %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-content">
                        <h4 align="center">New Event</h4>
                        <input name="Ttext" class="materialize-textarea" type="text" placeholder="Write here your event name"></input>
                    </div>
                    <div class="modal-content">
                        <input name="fecha" type="date" placeholder="Write here the date YYYY-MM-DD HH:MM"></input>
                    </div>
                    <div class="modal-content">
                        <input name="edad_min" type="number" placeholder="Write here the minium age"></input>
                    </div>
                    <div class="modal-content">
                        <input name="tipo_fiesta" type="text" placeholder="Write here type of party"></input>
                    </div>
                    <div class="modal-content">
                        <input name="precio" type="number" placeholder="Write here the price"></input>
                    </div>
                    <div class="modal-content">
                        <input name="capacidad" type="number" placeholder="Write here the maxium capacity "></input>
                    </div>
                    <div class="modal-content">
                        <input name="ubicacion" type="text" placeholder="Write here the location "></input>
                    </div>
                    <div class="modal-content">
                        <textarea name="comentario" class="materialize-textarea" type="text" placeholder="Write here important informacion"></textarea>
                    </div>
                    <div class="modal-content">
                        <input name="foto" type="file" placeholder="Write here the location "></input>
                    </div>
                    <div class="modal-footer blue-grey darken-2">
                        <input class="modal-action modal-close btn-flat" value="Submit" type="submit">
                    </div>
                </form>
            </div>

</body>
<script>
    $(document).ready(function () {
        $('.carousel').carousel();
    });
    $('.modal').modal();
    $imagePath = "fotos";
</script>
























</html>